/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
  }
  
  /* Paper component */
  .MuiPaper-root {
    padding: 20px;
    max-width: 900px;
    margin: 50px auto;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  /* Title */
  .MuiTypography-h5 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Input Fields */
  .MuiTextField-root {
    margin-bottom: 16px;
  }
  
  /* Submit Button */
  .MuiButton-root {
    padding: 12px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .MuiButton-root:hover {
    background-color: #45a049;
  }
  